/PRJ301_BookingCinemaTicketsOnline/build/
/PRJ301_BookingCinemaTicketsOnline/dist/
/PRJ301_BookingCinemaTicketsOnline/PRJ301_BookingCinemaTicketsOnline/nbproject/private/
/PRJ301_BookingCinemaTicketsOnline/PRJ301_BookingCinemaTicketsOnline/dist/
/PRJ301_BookingCinemaTicketsOnline/PRJ301_BookingCinemaTicketsOnline/build/