USE [BookingCinemaTicketsOnline]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[userName] [varchar](30) NOT NULL,
	[password] [varchar](30) NULL,
	[accountName] [nvarchar](200) NULL,
	[dob] [date] NULL,
	[email] [varchar](100) NULL,
	[phoneNumber] [int] NULL,
	[gender] [bit] NULL,
	[role] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[bookingID] [uniqueidentifier] NOT NULL,
	[numberOfBooking] [int] NULL,
	[priceTotal] [money] NULL,
	[bookingDate] [date] NULL,
	[userName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINEMA]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINEMA](
	[cinemaID] [int] IDENTITY(1,1) NOT NULL,
	[cinemaName] [nvarchar](200) NULL,
	[city] [nvarchar](200) NULL,
	[address] [nvarchar](200) NULL,
	[hotline] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIP]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP](
	[memberID] [uniqueidentifier] NOT NULL,
	[totalSpend] [money] NULL,
	[discount] [int] NULL,
	[userName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[movieID] [int] IDENTITY(1,1) NOT NULL,
	[movieName] [nvarchar](200) NULL,
	[movieContent] [nvarchar](200) NULL,
	[actor] [nvarchar](200) NULL,
	[director] [nvarchar](200) NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[roomID] [int] IDENTITY(1,1) NOT NULL,
	[numberOfSeats] [int] NULL,
	[cinemaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT](
	[seatID] [varchar](3) NOT NULL,
	[seatStatus] [bit] NULL,
	[roomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[seatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOWTIME]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIME](
	[showTimeID] [int] IDENTITY(1,1) NOT NULL,
	[openDate] [date] NULL,
	[closeDate] [date] NULL,
	[hourStart] [time](7) NULL,
	[hourEnd] [time](7) NULL,
	[showStatus] [bit] NULL,
	[roomID] [int] NULL,
	[movieID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[showTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 1/25/2024 9:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ticketID] [int] IDENTITY(1,1) NOT NULL,
	[showTimeID] [int] NULL,
	[seatID] [varchar](3) NULL,
	[bookingID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([userName], [password], [accountName], [dob], [email], [phoneNumber], [gender], [role]) VALUES (N'duongminhan', N'minhan123', N'An Dương', CAST(N'2004-03-02' AS Date), N'ansiucapcute@gmail.com', 961792119, 0, 0)
INSERT [dbo].[ACCOUNT] ([userName], [password], [accountName], [dob], [email], [phoneNumber], [gender], [role]) VALUES (N'nguyenhoangphuc', N'phuchoang123', N'Phúc Nguyễn', CAST(N'2004-10-02' AS Date), N'phuccute@gmail.com', 921792119, 1, 1)
GO
INSERT [dbo].[BOOKING] ([bookingID], [numberOfBooking], [priceTotal], [bookingDate], [userName]) VALUES (N'38a914e1-a5d3-4bdf-b778-142454406c78', 4, 70000.0000, CAST(N'2024-01-01' AS Date), N'duongminhan')
INSERT [dbo].[BOOKING] ([bookingID], [numberOfBooking], [priceTotal], [bookingDate], [userName]) VALUES (N'8299b7e9-88f5-4754-bca9-fd1ef5e8fb58', 1, 20000.0000, CAST(N'2024-01-01' AS Date), N'duongminhan')
GO
SET IDENTITY_INSERT [dbo].[CINEMA] ON 

INSERT [dbo].[CINEMA] ([cinemaID], [cinemaName], [city], [address], [hotline]) VALUES (1, N'Những Cậu Trai Thân Mật', N'Thành phố Hồ Chí Minh', N'178 Hoàng Đạo Thành, Thảo Điền, Quận 2', 961792117)
SET IDENTITY_INSERT [dbo].[CINEMA] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIE] ON 

INSERT [dbo].[MOVIE] ([movieID], [movieName], [movieContent], [actor], [director], [age]) VALUES (3, N'Chúa Tể của những chiếc Nhẫn', N'Kể về một chàng trai đi giao lưu thám hiểm', N'Minh An, Hoàng Phúc', N'Hưng Ngô', 18)
SET IDENTITY_INSERT [dbo].[MOVIE] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM] ON 

INSERT [dbo].[ROOM] ([roomID], [numberOfSeats], [cinemaID]) VALUES (1, 20, 1)
SET IDENTITY_INSERT [dbo].[ROOM] OFF
GO
INSERT [dbo].[SEAT] ([seatID], [seatStatus], [roomID]) VALUES (N'A01', 0, 1)
INSERT [dbo].[SEAT] ([seatID], [seatStatus], [roomID]) VALUES (N'A02', 0, 1)
INSERT [dbo].[SEAT] ([seatID], [seatStatus], [roomID]) VALUES (N'A03', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[SHOWTIME] ON 

INSERT [dbo].[SHOWTIME] ([showTimeID], [openDate], [closeDate], [hourStart], [hourEnd], [showStatus], [roomID], [movieID]) VALUES (1, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time), 0, 1, 3)
SET IDENTITY_INSERT [dbo].[SHOWTIME] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([ticketID], [showTimeID], [seatID], [bookingID]) VALUES (1, 1, N'A01', N'38a914e1-a5d3-4bdf-b778-142454406c78')
INSERT [dbo].[TICKET] ([ticketID], [showTimeID], [seatID], [bookingID]) VALUES (2, 1, N'A02', N'38a914e1-a5d3-4bdf-b778-142454406c78')
INSERT [dbo].[TICKET] ([ticketID], [showTimeID], [seatID], [bookingID]) VALUES (3, 1, N'A03', N'38a914e1-a5d3-4bdf-b778-142454406c78')
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (newid()) FOR [bookingID]
GO
ALTER TABLE [dbo].[MEMBERSHIP] ADD  DEFAULT (newid()) FOR [memberID]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_userName1] FOREIGN KEY([userName])
REFERENCES [dbo].[ACCOUNT] ([userName])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_userName1]
GO
ALTER TABLE [dbo].[MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_user1] FOREIGN KEY([userName])
REFERENCES [dbo].[ACCOUNT] ([userName])
GO
ALTER TABLE [dbo].[MEMBERSHIP] CHECK CONSTRAINT [FK_user1]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_cinemaID1] FOREIGN KEY([cinemaID])
REFERENCES [dbo].[CINEMA] ([cinemaID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_cinemaID1]
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD  CONSTRAINT [FK_roomID2] FOREIGN KEY([roomID])
REFERENCES [dbo].[ROOM] ([roomID])
GO
ALTER TABLE [dbo].[SEAT] CHECK CONSTRAINT [FK_roomID2]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD  CONSTRAINT [FK_MovieID1] FOREIGN KEY([movieID])
REFERENCES [dbo].[MOVIE] ([movieID])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_MovieID1]
GO
ALTER TABLE [dbo].[SHOWTIME]  WITH CHECK ADD  CONSTRAINT [FK_roomID1] FOREIGN KEY([roomID])
REFERENCES [dbo].[ROOM] ([roomID])
GO
ALTER TABLE [dbo].[SHOWTIME] CHECK CONSTRAINT [FK_roomID1]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_bookingID1] FOREIGN KEY([bookingID])
REFERENCES [dbo].[BOOKING] ([bookingID])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_bookingID1]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_seatID1] FOREIGN KEY([seatID])
REFERENCES [dbo].[SEAT] ([seatID])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_seatID1]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_showTimeID1] FOREIGN KEY([showTimeID])
REFERENCES [dbo].[SHOWTIME] ([showTimeID])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_showTimeID1]
GO

select * from ACCOUNT
insert into ACCOUNT values('duongminhan2', '123456', N'An', '20040302', 'ansiucapcute@gmail.com', '961792119', 1, 0)