* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

header {
    padding: 20px 40px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.1);
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 110px;
    
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-search,
.nav-login,
.nav-toggle,
.nav-close {
    cursor: pointer;
}
/* For mobile devices */
@media screen and (max-width: 1023px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-block: 4.5rem 4rem;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        text-align: center;
    }

    .nav-link {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.2em;
    }

    .nav-link::before {
        content:'';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav-close,
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        align-items: center;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        list-style: none;       
    }

    .nav-link {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.2em;
    }

    .nav-link::before {
        content:'';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

}